In [2]:
import pandas as pd

In [147]:
cbb = pd.read_html("https://www.sports-reference.com/cbb/seasons/2002-school-stats.html")[0]

In [152]:
cbb = pd.DataFrame()
for i in range(2001,2020):
    link = "https://www.sports-reference.com/cbb/seasons/" + str(i) + "-school-stats.html"
    df = pd.read_html(link)[0]
    df.columns = df.columns.droplevel()
    df = df[~pd.isna(df['Rk']) & (df['Rk'] != "Rk")]
    df.columns.values[3] = 'W_overall'
    df.columns.values[4] = 'L_overall'
    df.drop(['Unnamed: 8_level_1','Unnamed: 8_level_1','Unnamed: 14_level_1','Unnamed: 17_level_1','Unnamed: 20_level_1','Unnamed: 11_level_1','W','L'], axis = 1,inplace = True)
    df = df[df['School'].str.contains('NCAA')]
    df['School'] = df['School'].str.replace('\xa0NCAA',"")
    df['Year'] = i
    cbb = pd.concat([cbb,df],axis = 0)

In [159]:
cbb.drop(['Rk'], axis = 1,inplace = True)
cbb.to_csv("~/teams.csv",index = False)

In [158]:
cbb

,Rk,School,G,W_overall,L_overall,W-L%,SRS,SOS,Tm.,Opp.,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Year
4,5,Alabama State,31,22,9,.710,-8.86,-13.61,2135,1980,...,696,.658,386,1175,410,260,93,510,502,2001
11,12,Arizona,36,28,8,.778,26.84,12.56,2926,2386,...,940,.748,487,1433,585,283,159,546,630,2001
15,16,Arkansas,31,20,11,.645,16.61,6.16,2476,2132,...,639,.690,410,1100,476,365,124,451,654,2001
26,25,Boston College,32,27,5,.844,17.99,5.18,2547,2129,...,788,.709,486,1166,464,326,97,423,652,2001
30,29,Brigham Young,33,24,9,.727,10.94,3.47,2324,2069,...,835,.780,292,1052,414,203,108,433,491,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,333,Virginia,38,35,3,.921,25.46,10.15,2714,2132,...,598,.744,342,1326,544,211,149,342,542,2019
368,337,Washington,36,27,9,.750,12.01,7.01,2511,2331,...,679,.695,334,1129,419,323,206,479,653,2019
380,347,Wisconsin,34,23,11,.676,17.90,11.01,2333,2099,...,531,.648,283,1197,430,177,140,327,511,2019
381,348,Wofford,35,30,5,.857,13.92,0.80,2879,2295,...,577,.704,365,1232,528,233,105,377,589,2019
385,352,Yale,30,22,8,.733,5.52,-1.24,2427,2202,...,557,.738,259,1157,503,177,131,392,510,2019

In [3]:
cbb = pd.DataFrame()
link = "https://www.sports-reference.com/cbb/seasons/2021-school-stats.html"
df = pd.read_html(link)[0]
df.columns = df.columns.droplevel()
df = df[~pd.isna(df['Rk']) & (df['Rk'] != "Rk")]
df.columns.values[3] = 'W_overall'
df.columns.values[4] = 'L_overall'
df.drop(['Unnamed: 8_level_1','Unnamed: 8_level_1','Unnamed: 14_level_1','Unnamed: 17_level_1','Unnamed: 20_level_1','Unnamed: 11_level_1','W','L'], axis = 1,inplace = True)
df = df[df['School'].str.contains('NCAA')]
df['School'] = df['School'].str.replace('\xa0NCAA',"")
df['Year'] = 2020
cbb = pd.concat([cbb,df],axis = 0)

In [5]:
cbb.to_csv("~/predictions.csv",index = False)